body,
html {
  margin: 0;
  height: 100%;
  font-family: "Franklin Gothic Medium";
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: black;
  color: rgb(99, 153, 99);
}

.topnav a.active {
  background-color: white;
  color: rgb(99, 153, 99);
}

.bg {
  background-image: url("https://americantechclub.files.wordpress.com/2015/03/millard.png");

  height: 150%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
