* {
  box-sizing: border-box;
}
body {
  font-family: cursive;
}

.navbar {
  top: 0;
  width: 100%;
  background-color: midnightblue;
  overflow: auto;
  position: fixed;
  z-index: 1;
}

.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
  border-right: 1px solid #bbb;
  font-weight: 800;
}

.navbar a:hover {
  background-color: rgb(175, 60, 228);
}

.navbar a.active {
  background-color: #6c0f83;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
button {
  display: block;
  background-color: #7b38d8;
  border-radius: 10px;
  border: 4px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 500px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
