* {
  box-sizing: border-box;
}
body {
  font-family: cursive;
}

.navbar {
  top: 0;
  width: 100%;
  background: linear-gradient(110deg, #4d1499 30%, #291292 100%);
  overflow: auto;
  position: fixed;
  z-index: 1;
}

.navbar a {
  float: left;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  width: 20%; 
  text-align: center;
  border-right: 1px solid #bbb;
  font-weight: 800;
}

.navbar a:hover {
  background-color: rgb(175, 60, 228);
}

.navbar a.active {
  background-color: #6c0f83;
}

footer {
  text-align: center;
  padding: 50px;
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}