.topnav {
    overflow: hidden;
    background-color: black;
    font-family: "American Typewriter, serif";
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: "American Typewriter, serif";
  }
  
  .topnav a:hover {
    background-color: black;
    color: rgb(99, 153, 99);
    font-family: "American Typewriter, serif";
  }
  
  .topnav a.active {
    background-color: white;
    color: rgb(99, 153, 99);
    font-family: "American Typewriter, serif";
      }


  
