body {
    margin: 0;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: black;
  }
  
  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: black;
    color: rgb(99, 153, 99);
  }
  
  .topnav a.active {
    background-color: rgb(99, 153, 99);
    color: white;
  }